[package]
name = "poketex"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tui = "0.19"
crossterm = "0.25"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sys-locale = "0.2.3"
lazy_static = "1.4"
clap = { version = "4.1.4", features = ["derive"] }
